In [1]:
__version__ = "20201111"
__author__ = "Guillermo Damke <gdamke@gmail.com>"


# Variables in Python

## *Everything is an object*

An important point to keep always in mind when coding in Python is that *everything is an object.*

Even though we are not introducing object-oriented programming here, it is important to note that every object may have:

* Atributes
* Methods

We will see them in action below.

## Variable names

Some important rules about variable names:

* Python is case sensitive, that is, case matters, for instance, `A` is diffent than `a`.
* Variable names cannot start by numbers, but they can contain numbers. E.g.,
 * `1variable` is invalid.
 * `variable1` is valid
* Variable names can contain underscore character, for example `a_variable`.

The most important advise: **Use variable names that are self-explanatory!**:

* Good practice: `perimeter = 2*pi*radius`
* Bad use: `qwerty = 2*pi*ttt`

## Python data types

As we have mentioned earlier, Python has built-in functions and data types. The most common data types are:

* Integer: `int`
* Float: `float`
* Complex: `complex`
* String: `str`
* Boolean: `bool`
* Null: `None`
* List: `list`
* Tuple: `tuple`
* Dictionary: `dict`
* Set: `set`

Each of these data types are defined as objects, therefore, they have *atrubutes* and *methods*. These objects are defined in a *class*, and each object of such class is called an *instance*. This is very important to remember to take the most of Python.

Let's see the following example:

In [2]:
print(1)
print("The data type is",type(1))

1
The data type is <class 'int'>

Now, we can create a variable with an integer value just by doing:

In [3]:
a = 123
print( f"The value of a is {a}, and the datatype is {type(a)}")

The value of a is 123, and the datatype is <class 'int'>

Now, let's define a string containing the value 123. Strings are define by single or double quotes.

In [4]:
b = "123"
print( f"The value of b is {b}, and the datatype is {type(b)}")

The value of b is 123, and the datatype is <class 'str'>

Even though `a` and `b` are printed on screen as *123*, the data type is different (integer v/s string).

## Methods and attributes

In simple words, methods are functions inherent to a class. Then, objects of a class can perform actions defined in these functions. For example, type `a.` and `b.` and hit the `Tab` key. You will see a whole list of methods or attributes of the object, and these lists will differ because the methods and attributes belong to different classes.

In [ ]:
# Hit tab with cursor on the right of the dot
a.

In [ ]:
# Hit tab with cursor on the right of the dot
b.

In [6]:
c = "a new string containing a newline\n"

In [7]:
print(c.strip().capitalize())

A new string containing a newline

In [8]:
d = "E5"

In [9]:
d.count("S")

0

It is interesting to check that besides the different methods and attributes, the behaviour of the variables for operators (if they are defined). For example, check the results of addition and multiplication for `a` and `b`.

In [10]:
print(a+a)

246

In [11]:
print(3*a)

369

The results are what we expect for a integer number. However, what happens if we add or multiply a string?

In [12]:
print(b+b)

123123

In [13]:
print("A",100*' ',"B")

A                                                                                                      B

### Aside: What is happening under the hood?

As mentioned above, the behaviour of an object depends on the properties defined in its class.

For example, how does Python know what to do in the case of *addition* or *multiplication*? Well, when the Python interpreter sees the `+` operation, it will execute what is defined under the **hidden attribute** `<object>.__add__` function for the object (defined in its class). Check below:

b.__add__

In [14]:
# Basically, what is happening is this:
a.__add__(25)

148

However, you **should not** access these **hidden attributes** in this way, because they are meant to be executed as intended. Nevertheless, you can check all the defined methods if you type `a.__?` to learn/understand more about Python.

In [ ]:
# Hit tab with cursor on the right of the dot
a.__

## Binary operators

According to the Python 3.9 documentation, the built-in binary operators are:

![](Images/binary_operators.png)

## Defining variables using it's class name

There are usually equivalent way to define objects. For example, to define an integer 1 and a float 1:

In [15]:
c_int = 1
c_float = 1.

In [16]:
print( f"Value c_int is {c_int} with type {type(c_int)}; value c_float is {c_float} with type {type(c_float)}")

Value c_int is 1 with type <class 'int'>; value c_float is 1.0 with type <class 'float'>

However, we could also do:

In [17]:
d_int = int(1.4)
print( f"Value d_int is {d_int} with type {type(d_int)}")

Value d_int is 1 with type <class 'int'>

The option above is very useful to convert types. For example:

In [18]:
d_float = float(d_int)
print( f"Value d_float is {d_float} with type {type(d_float)}")

Value d_float is 1.0 with type <class 'float'>

In [19]:
b_float = float(b)
print( f"Value b_float is {b_float} with type {type(b_float)}")

Value b_float is 123.0 with type <class 'float'>

## Checking  what class a variable is

Simply use the `isinstance` built-in method.

In [20]:
isinstance(a, str)

False

In [21]:
isinstance(a, int)

True

### Aside: Since we are taling about *classes*

Following a question raised during the class, we implement a new object type by writting a `class`. In this case, the class is "Car", and we create "cars" as instances of this class.

In [22]:
class Car():
    def __init__(self, model_, year_, color_): # underscore added to notice that this is passed to the self.* variables.
        self.model = model_
        self.year = year_
        self.color = color_
        
    def paint(self, new_color):
        self.color = new_color
        return self.color
    
    def __repr__(self):
        '''We explicitly implement the __repr__ method, which will be called by the print function'''
        return f"The car is a {self.year} {self.color} {self.model}."

In [23]:
ford = Car("Escape", 2011, 'white')
print(ford.color)

white

In [24]:
print(ford)

The car is a 2011 white Escape.

In [25]:
print(ford.paint("Negro"))

Negro

In [26]:
ford.color

'Negro'

In [27]:
print(ford)

The car is a 2011 Negro Escape.

In [28]:
type(ford)

__main__.Car

## Reviewing the other data types:

### Boolean:

Boolean values are the ones used in Boolean algebra, i.e., true or false. In Python, these values are implemented as `True` and `False`, respectively. Additionally, they have the `and`, `or` and `not` operators.

| Operator | Description |
|----------|-------------|
| x or y   | If x is false, then y, else x |
| x and y  | If x is false, then x, else y |
| not x    | If x is false, then True, else False |

In [29]:
# Example:
b1 = True
b2 = False

print( f"And operator: {b1 and b2}; or operator: {b1 or b2}; not operator for b1: {not(b1)}")

And operator: False; or operator: True; not operator for b1: False

### Null object:

"This object is returned by functions that don’t explicitly return a value. It supports no special operations. There is exactly one null object, named None (a built-in name). type(None)() produces the same singleton."

It is written as None.

In [30]:
# Example:
type(None)

NoneType

### List:

This is a very useful data type. Lists are *ordered collections of objects*.  They are created using square brackets `[` and `]`. Objects within the list are comma-separated. **Important:** lists are mutable objects, i.e., they can change after they are created!

In [31]:
a_list_of_numbers = [1,2,3,4]
print(a_list_of_numbers)

[1, 2, 3, 4]

An interesting feature of lists is that **they can contain anything**:

In [32]:
a_list_of_whatever = [1,2,3.,'cat','dog',['a','list','of','strings']]
print(a_list_of_whatever)

[1, 2, 3.0, 'cat', 'dog', ['a', 'list', 'of', 'strings']]

Lists also can be created by the built-in function `list`:

In [33]:
a_list_of_digits = list('0123456789')
print(a_list_of_digits)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [34]:
an_empty_list = []
print(an_empty_list)

[]

In addition, lists have several methods and atributes that we should review, in addition to some important built-in functions:

In [35]:
# Return the number of elements in a list:
n_digits = len(a_list_of_digits)
print( f"The list contains {n_digits} elements.")

The list contains 10 elements.

In [36]:
another_empty_list = list()
print( "The list contains",len(another_empty_list),"elements.")

The list contains 0 elements.

In [37]:
# Add an element to a list:
an_empty_list.append("one")
an_empty_list.append("two")

print(an_empty_list)

['one', 'two']

In [38]:
# Remove the last element. This returns the last element:
last_element = an_empty_list.pop()
print( f"The last element was {last_element}.\nThe updated list is {an_empty_list}")

The last element was two.
The updated list is ['one']

#### Accesing elements in a list and list slicing:

List elements are accesed by an `index` that gives the order an element appears in the list. **The index starts at 0, then the first element of a list is a_list[0]**

In [39]:
# First element:
print( f"The first element is {a_list_of_numbers[0]}")

# Change value of an element:
a_list_of_numbers[0] = -10
print( f"The list now is {a_list_of_numbers}")

The first element is 1
The list now is [-10, 2, 3, 4]

In [40]:
# Slicing:
print(a_list_of_digits)
subset = a_list_of_digits[1:3:]
print(subset)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
['1', '2']

An interesting feature of slicing is that one can omit the first or last index to mean "from the beggining" or "to the end".

In [41]:
# All elements until index 5
sublist_1 = a_list_of_digits[:5]
print(sublist_1)

['0', '1', '2', '3', '4']

In [42]:
# All elements from index 5
sublist_2 = a_list_of_digits[5:]
print(sublist_2)

['5', '6', '7', '8', '9']

In [43]:
# You can count from the last element using negative indices:
print(a_list_of_digits[-1])

9

In [44]:
# List concatenation: Use the addition operator!
new_list = sublist_1 + sublist_2
print(new_list)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [45]:
# Repeating a list: Use the multiplication operator:
n_repeats = 5
print(a_list_of_digits*n_repeats)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [46]:
# Compare the behavior above to this:
n_repeats = 5
print([a_list_of_digits]*n_repeats)

[['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']]

In [49]:
# You can use "strides" to get only every n elements:
inverted_list = a_list_of_digits[::2]

print(inverted_list)

# What would happen if the "stride" is negative? Try it!!!!

['9', '7', '5', '3', '1']

In [50]:
# Reversing the list: Use the reverse method:
a_list_of_digits.reverse()
print(a_list_of_digits)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

Did you notice that the reversing occured *in place* (i.e., no value was returned)? What do you think the method returned? How would you check it?

Another feature of lists is that they are **iterables**: they can be used for loops.

## Tuple:

Tuples are ordered collections of objects, similar to lists, but **they are immutable**. They are defined using parenthesis, with elements separated by comma. They can contain any type of object.

In [51]:
a_tuple = (1,2,3,4)
print(a_tuple)

(1, 2, 3, 4)

Tuples and lists share several characteristics. For example element access, concatenation, etc.

In [52]:
print( f"The second element of the tuple is {a_tuple[2]}")
print( a_tuple + a_tuple)

The second element of the tuple is 3
(1, 2, 3, 4, 1, 2, 3, 4)

However, they are immutable:

In [53]:
a_tuple[2] = 3

TypeError: 'tuple' object does not support item assignment

## Dictionary:

Python dictionaries are a very flexible data type. They are collections where indices can be *keys* instead of a sequence of integers (although integers can also be used). Then, each element in a dictionary is always defined as a **{key:value}** pair. Note that the **keys must be unique**.

In [54]:
a_dictionary = {'key':10}
print(a_dictionary)

{'key': 10}

Access the elements in a dictionary by its key:

In [55]:
print(a_dictionary['key'])

10

A *KeyError* exception is raised if the key is not present:

In [56]:
a_dictionary['another_key']

KeyError: 'another_key'

Some interesting features of dictionaries are:

* keys can be either strings, integers or floats
* values can be any data type. **Even other dictionaries!**

In [57]:
pets = {}
pets['Una lista'] = [1,2,3,4,5]
pets['N'] = 3

pets

{'Una lista': [1, 2, 3, 4, 5], 'N': 3}

In [58]:
pets['dog'] = {} # Dog is now a dictionary
pets['dog']['owner'] = "Juan Perez"
pets['dog']['weight'] = {'value':12.5,'unit':'kilograms'}

pets['cat'] = {}
pets['cat']['owner'] = "Manuel Garcia"
pets['cat']['weight'] = {'value':9.3,'unit':'pounds'}

pets['rat'] = {}
pets['rat']['owner'] = "Liliana Lopez"
pets['rat']['weight'] = {'value':0.9,'unit':'pounds'}

In [59]:
print(pets)

{'Una lista': [1, 2, 3, 4, 5], 'N': 3, 'dog': {'owner': 'Juan Perez', 'weight': {'value': 12.5, 'unit': 'kilograms'}}, 'cat': {'owner': 'Manuel Garcia', 'weight': {'value': 9.3, 'unit': 'pounds'}}, 'rat': {'owner': 'Liliana Lopez', 'weight': {'value': 0.9, 'unit': 'pounds'}}}

In [60]:
print(pets['N'])

3

In [61]:
# Defining elements of an image in dictionary form. The keyworks of the dictionary could represent the pixel coordinates
image = {}
image[100] = {}
image[100][0] = {'flux':12.4, 'masked':True}
image

{100: {0: {'flux': 12.4, 'masked': True}}}

To get the keys of a dictionary, use the `list` function:

In [62]:
animals = list(pets)
print(animals)

['Una lista', 'N', 'dog', 'cat', 'rat']

Get the elements in order with the `sorted` method:

In [64]:
sorted_animals = sorted(pets)
print( sorted_animals)

['N', 'Una lista', 'cat', 'dog', 'rat']

**Important: In the past, dictionary elements used to be unordered structures. However, the keys are now ordered according to the order they were inserted.**

Check if an element is in a dictionary with the `in` keyword.

In [65]:
if 'mouse' in pets:
    print(pets['mouse'])
else:
    pets['mouse'] = {}

In [66]:
pets

{'Una lista': [1, 2, 3, 4, 5],
 'N': 3,
 'dog': {'owner': 'Juan Perez',
  'weight': {'value': 12.5, 'unit': 'kilograms'}},
 'cat': {'owner': 'Manuel Garcia', 'weight': {'value': 9.3, 'unit': 'pounds'}},
 'rat': {'owner': 'Liliana Lopez', 'weight': {'value': 0.9, 'unit': 'pounds'}},
 'mouse': {}}

## Set:

A set is an *unordered collection of unique elements.* They are defined by the `set()` function of using curly braces {<elements\>} (only if they are not empty, otherwise a dictionary is created).

In [67]:
object_types = {'star','nebula','planet','galaxy','star'}
print(object_types)

{'nebula', 'planet', 'star', 'galaxy'}

In [68]:
elements = 10000*['star'] + ['nebula','quasar']
print(set(elements))

{'nebula', 'quasar', 'star'}

In [69]:
other_objects = {'star','quasar','supernovae'}

Sets support the usual set operations. For example:

In [70]:
# Intersection:
object_types.intersection(other_objects)

{'star'}

In [71]:
# Union:
object_types.union(other_objects)

{'galaxy', 'nebula', 'planet', 'quasar', 'star', 'supernovae'}

In [72]:
# Difference:
print(object_types.difference_update( other_objects))

None

In [73]:
object_types

{'galaxy', 'nebula', 'planet'}

In [74]:
# or equivalently:
object_types - other_objects

{'galaxy', 'nebula', 'planet'}

In [75]:
# Remember that difference is not commutative:
other_objects - object_types

{'quasar', 'star', 'supernovae'}

In [76]:
object_types.difference_update(other_objects)

In [ ]:
# Hit tab with cursor on the right of the dot
object_types.

### How do you think you can apply the datatypes reviewed today?